.margin{
   text-align: center;
   background-image: url(../img/1.jpg);
   color: white;
   height: 600px;

}

.intro {

  padding: 100px;
}


h1{
  text-align: center;
}

.insidepost{
  font-style: italic;

}

.about{
  background-image: url(../img/3.jpg);
  color: white;
  height:250px;
  text-align: center;

}

.ndani {
  padding: 45px;

}

.sidebar {
  height: 500px
  float: left;
  width: 30%;
  background-color: yellow;
}
